:root {
    --background: #161F27;
}
[ theme="light" ]{
    --background: #EFEFEF;
}


html {
    padding: 0 .5rem;
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    margin: 0 auto !important;
    min-height: 100vh;
}

.water-theme {
    background-color: #fff;
    transition: all .2s ease-in-out, color 0.3s ease;
}
  
.dark-theme {
    background-color: #202b38;
    transition: all .2s ease-in-out, color 0.3s ease;
}


.title {
    text-align: center;
    padding-bottom: 40px;
}





.login {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    gap: 10px;
    
}
.login__title {
    font-size: 3rem;
    padding-bottom: 50px;
}
.login__button {
    min-width: 350px;
}




.header__main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.link-to-login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    background-color: var(--background);
    height: 28px;
    border-radius: 6px;
    transition: .2s ease-in-out all;
    cursor: pointer;
    color: currentColor;
}

.link-to-login:hover {
    opacity: 60%;
}








.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 30px;
}

.form--input {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form button {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 140px;
    
}

.input--checked {
    display: flex;
    align-items: center;
    gap: 10px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header__brand {
    color: currentColor;
    font-weight: 600;
    font-size: 2rem;

}

h1, h2, h3, h4, h5, h6, input, button, i, a {
    margin: 0!important;
}

.main {
    min-height: 100vh;
}


.song--container {
    margin-top: 10px ;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;    
}

.song {
    padding: 1rem;
    border-radius: 6px;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.song__title {
    text-transform: capitalize;
    font-size: 2rem;
    padding-bottom: 8px;
}
.song__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    color: currentColor!important;

}

.song__links span {
    background-color: currentColor;
    height: 15px;
    width: 2px;
    
}
.song--buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 70px;
    position: relative;
}
.song--buttons::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: currentColor;
    left: 50%;
}
.song--buttons input {
    transition: .2s ease-in-out all;
}
.song--buttons input:hover {
    filter: drop-shadow( 0 0 8px green );
}
.song--buttons i {
    font-size: 2rem;
    transition: .2s ease-in-out all;
    cursor: pointer;
}
.song--buttons i:hover {
    color: red;
    filter: drop-shadow( 0 0 8px red);
}

.song--buttons i:active {
    transform: translateY(5px);
}









.nav__container {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

a { text-decoration: none!important; }

.nav__link {
    position: relative;
    color: unset;
    opacity: 50%;
    transition: .2s opacity ease-in-out;
}

.nav__link:hover {
    opacity: 100%;
}
.nav__link:hover::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -2px;
    left: 0;
    background-color: currentColor;
}
.nav__link--active {
    opacity: 100%;
    position: relative;
}
.nav__link--active::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -2px;
    left: 0;
    background-color: currentColor;
}






.home {
    padding: 20px 5px;
}



/*****     Loader      *****/
.loader--container {
    min-height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader--container i {
    font-size: 4rem;
    animation: rotation .8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}











/* The switch - the box around the slider */
.switch {
    margin: 0 !important;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 6px;
    margin: 0!important;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    box-shadow: inset 8px -4px 0px 0px #fff;
    background: var(--background);
    transition: .5s;
  }
  
  input:checked + .slider {
    background-color: #d0cfcf;
  }
  
  input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #0c151c;
  }

