:root {
    --background: #161F27;
}
[ theme="light" ]{
    
    --background: #EFEFEF;
}



.water-theme {
    background-color: #f6f6f6;
    
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
.dark-theme {
background-color: #202b38;
transition: background-color 0.3s ease, color 0.3s ease;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    
    min-height: 100vh;
    padding: 1rem;
}


.form {

    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.form--input {
    display: flex;
    flex-direction: column;
    width: 100%;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}


h1, h2, h3, h4, h5, h6, input, button {
    margin: 0!important;
}


.main {
    margin-top: 30px;
}
.main h2 {
    font-size: 18px;
}
.song--container {
    margin-top: 10px ;
    
    
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.song {
    padding: .5rem;
    border-radius: 6px;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}









/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    --background: #0c151c;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 6px;
    margin: 0!important;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff;
    background: var(--background);
    transition: .5s;
  }
  
  input:checked + .slider {
    background-color: #d0cfcf;
  }
  
  input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #0c151c;
  }

